body{
  max-width: 1000px;
  background: url("../img/background.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p{
  text-align: center;
}
h1{
  font-size: 12em;
  color: white;
}
.axis-div {
  height: 100px;
}
#results{
  font-family: 'Seymour One', sans-serif;
  font-size: 54px;
}
#input {
  margin-bottom: 15px;
}
#axis{
  display: none;
}
